@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-color: #000000;
  --acent-color: #2196F3;
  --background-color: #ffffff;
  --hero-background: #2F303A;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
p,
h1,
h2,
h3,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
  }
}

.section-title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.container.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.container.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .container.header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--acent-color);
}
.logo > span {
  color: var(--logo-color);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.nav-item:not(:first-child),
.contacts-item:not(:first-child) {
  margin-left: 50px;
}

.contacts-item:not(:first-child) {
  margin-left: 50px;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: auto;
}

.nav-link,
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-link {
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-link:hover, .nav-link:focus {
  color: var(--acent-color);
}

.contacts-link {
  color: var(--secondary-text-color);
}
.contacts-link:hover, .contacts-link:focus {
  color: var(--acent-color);
}

.button-header {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .button-header {
    display: none;
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 796px;
  background-color: var(--background-color--);
}

.close-icon {
  display: none;
}

.button-header.is-open .open-icon {
  display: none;
}

.button-header.is-open .close-icon {
  display: block;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  /* background-color: var(--hero-background); */
  background: rgba(47, 48, 58, 0.4);
  background-image: url(../images/Img\ \(17\).jpg);
}
.hero .container {
  text-align: center;
}
.hero-button {
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--background-color);
  background-color: var(--acent-color);
}

h1 {
  width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1600px) {
  .advantages {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 480px) {
  .advantages .item {
    width: 450px;
  }
  .advantages .item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantages .item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1600px) {
  .advantages .item {
    width: 270px;
  }
}
.advantages .item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.advantages .title {
  font-weight: 700px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .advantages .title {
    text-align: center;
  }
}

.icon-aerial::before {
  background-image: url(../images/Vector\ \(1\).svg);
}

.icon-clock::before {
  background-image: url(../images/Vector\ \(2\).svg);
}

.icon-diagram::before {
  background-image: url(../images/Vector\ \(3\).svg);
}

.icon-astronaut::before {
  background-image: url(../images/Vector\ \(4\).svg);
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
@media screen and (min-width: 480px) {
  .title {
    text-align: center;
  }
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-text-color);
}

.what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.what-we-do .text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.what-we-do div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.img-what-we-do {
  width: 370px;
}

.wwd-item {
  position: relative;
}

.section.our-team {
  background: #f5f4f4;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-list .img {
  margin-bottom: 30px;
}

.team-list .item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.role {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
}

.comand > h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--primary-text-color);
}

.comand > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--secondary-text-color);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.regular-costomers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link-regular {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  color: #757575;
}

.regular-icon {
  fill: #AFB1B8;
}

.link-regular:hover,
.link-regular:focus {
  border: 1px solid var(--acent-color);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.regular-costomers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link-regular {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  color: #757575;
}

.regular-icon {
  fill: #AFB1B8;
}

.link-regular:hover,
.link-regular:focus {
  border: 1px solid var(--acent-color);
}

.footer {
  background-color: var(--hero-background);
}
.footer .logo > span {
  color: var(--background-color);
}
.footer .contacts-list {
  display: block;
}
.footer .contacts-item:not(:first-child) {
  margin-left: 0;
}
.footer .contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--background-color);
}

/* portfolio */
.job-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-left: 24px;
  color: var(--primary-text-color);
}

.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons-list .list-item:not(:first-child) {
  margin-left: 8px;
}

.button {
  padding: 6px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--acent-color);
  color: var(--background-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.main-container {
  width: 1230px;
  margin: auto;
  margin-bottom: 94px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.main-items {
  border: 1px solid #EEEEEE;
  margin: 15px;
  width: calc((100% - 90px) / 3);
}

.main-text {
  margin-bottom: 20px;
  margin-left: 24px;
}

/* модальне вікно */
.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: relative;
  padding: 40px;
}

.close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.1);
}

/* .backdrop.is-hidden .modal {
    transform: scale(1.1)
    translate(-50%, -50%);

  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  } */
.form-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #757575;
}

.form-field svg {
  position: absolute;
  left: 12px;
  top: 30px;
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 120px;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
  padding: 10px;
}

.form-link {
  color: #2196F3;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.textarea {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);
  margin-top: 4px;
}

.form-input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
  padding-left: 30px;
  margin-bottom: 10px;
  margin-top: 4px;
}

.form-field:focus-within svg {
  fill: var(--acent-color);
}

.form-field:focus-within input {
  border: 1px solid var(--acent-color);
}/*# sourceMappingURL=main.css.map */