:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --logo-color: #000000;
    --acent-color: #2196F3;
    --background-color: #ffffff;
    --hero-background: #2F303A;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
    
}

a{
    text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
li{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* загальні стилі */

.section {
    

    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    font-weight: 700px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    margin-bottom: 50px;
}

/*header*/

.container.header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 24px;
    padding-bottom: 25px;
}

.header nav {
    
    display: flex;
    justify-content: center;
    align-items: center;
}  


.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    color: var(--acent-color);
}

.nav-list {
    display: flex;
    margin-left: 93px;
}

.nav-item:not(:first-child),
.contacts-item:not(:first-child) {
    margin-left: 50px;
}
/* .nav-item:nth-child(n+2) {
    margin-left: 50px;
}
.nav-item + .nav-item {
    margin-left: 50px;
} */

.contacts-item:not(:first-child) {
    margin-left: 50px;
}

.contacts-list {
    
    display: flex;
padding-top: 24px;
padding-bottom: 24px;
    margin-left: auto;
}

.logo > span{
    color: var(--logo-color);
}
.nav-link, 
.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.nav-link{
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts-link {

    color: var(--secondary-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--acent-color);
}
/*  */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-background);
}

.hero .container {
    
    text-align: center;
    
   
}

h1{ 
    width: 696px;

    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--background-color);
}

.hero-button {
    
     border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;

    color: var(--background-color);
    background-color: var(--acent-color);
}

.advantages {
    display: flex;
    justify-content: space-between;
}

.advantages .item {
    width: 270px;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: var(--primary-text-color);
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: var(--secondary-text-color);
}

.advantages .title {
    font-weight: 700px;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.what-we-do {
    display: flex;
    justify-content: space-between;
}

/* .what-we-do img {
    width: 270px;
} */

.img-what-we-do {
    width: 370px;
}
    
.section.our-team {
    background: #f5f4f4;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-list .img {
    margin-bottom: 30px;
}

.team-list .item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

     .name{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
    
.role{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 30px;

    color: var(--secondary-text-color);
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.comand > h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    text-align: center;
    
    color: var(--primary-text-color);
}

.comand > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: var(--secondary-text-color);
}

address {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: var(--background-color);
}

.footer {
    background-color: var(--hero-background);
}

.footer .logo > span {
    color: var(--background-color);
}

.footer .contacts-list {
    display: block;
}

.footer .contacts-item:not(:first-child){
    margin-left: 0;
}

.footer .contacts-link {  
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.6);
}

/* portfolio */

.job-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    margin-left: 24px;

color: var(--primary-text-color);
}

.buttons-list {
    display: flex;
    justify-content: center;
}

.buttons-list .list-item:not(:first-child) {
    margin-left: 8px;
}

.button {
    padding: 6px 25px;

    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: #F5F4FA;
    border: none;
}

.button:hover,
.button:focus {
    background-color: var(--acent-color);
    color: var(--background-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.main-container {
    width: 1230px;
    margin: auto;
    margin-bottom: 94px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    
}
.main-items {
    border: 1px solid #EEEEEE;
    margin: 15px;
    width: calc((100% - 6 * 15px) / 3);
}

.main-text {
    margin-bottom: 20px;
    margin-left: 24px;
}