.container.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 24px;
    padding-bottom: 25px;

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }  

    @media screen and (max-width: 767px){
        justify-content: space-between;
    }

}

// .header nav {
    
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }  

.logo{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
    
        color: var(--acent-color);

        & > span{
            color: var(--logo-color);
        }
    }


.nav-list {
   @media screen and (min-width: 768px){
    display: flex;
    margin-left: 93px;
   }
}


.nav-item:not(:first-child),
.contacts-item:not(:first-child) {
    @media screen {
        
    }
    margin-top: 32px;
   @media screen and (min-width: $desktop){
    margin-left: 50px;
   }
}


.contacts-item:not(:first-child) {
    margin-left: 50px;
}

.contacts-list {
    
    display: flex;
padding-top: 24px;
padding-bottom: 24px;
    margin-left: auto;
}

// .logo > span{
//     color: var(--logo-color);
// }
.nav-link, 
.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.nav-link{
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover,
    &:focus {
        color: var(--acent-color);
    }
}

.contacts-link {
    color: var(--secondary-text-color);

    &:hover,
    &:focus {
        color: var(--acent-color);
    }
}

// .nav-link:hover,
// .nav-link:focus,
// .contacts-link:hover,
// .contacts-link:focus {
//     color: var(--acent-color);
// }

.button-header {
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 5;

    @media screen and (min-width: $tablet){
        display: none;
    }
}

.mobile-menu{
    @media screen and (max-width: 767px) {
        display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 796px;
    padding: 40px 48px;
    background-color: var(--background-color);
    }

    

    &.is-open{
        display: block;
    }
}



.icon-close {
    display: none;
}
.button-header.is-open .icon-open{
    display: none;
}
.button-header.is-open .icon-close{
    display: block;
}