.hero {
    padding-top: 200px;
    padding-bottom: 200px;
   
    
    background: rgba(47, 48, 58, 0.4);
    
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 1),
            (min-resolution: 96dpi),
            (min-resolution: 1dppx) {
    background-image: url(../images/header@1x.jpg) ;
    }

    @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
    background-image: url(../images/header@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3),
            (min-resolution: 288dpi),
            (min-resolution: 3dppx) {
    background-image: url(../images/header@3x.jpg);
    }

    & .container {
        text-align: center;


        
    }

    &-button {
    
        border: none;
       border-radius: 4px;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   
       padding: 10px 32px;
   
       font-weight: 700;
       font-size: 16px;
       line-height: 30px;
       letter-spacing: 0.06em;
       text-align: center;
   
       color: var(--background-color);
       background-color: var(--acent-color);
   }
}


h1{ 
    // width: 696px;

    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--background-color);
}
