h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}
.regular-costomers {

    @media screen and (max-width: 767px) {
        display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    

    @media screen and (min-width: 1200px){
        display: flex;
        justify-content: center;
        text-align: center;
        
    }

    @media screen and (min-width: 767px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }
}

.regular {
    margin-bottom: 30px;
    
    @media screen and (min-width: 767px) {
         width: calc(33.33% - 10px);
         height: calc(50% - 10px);
    }

    @media screen and (min-width: 1200px) {
        margin: 15px;
    }
}

.link-regular {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    color: #757575;
}

.regular-icon {
    fill: #AFB1B8;
}

.link-regular:hover,
.link-regular:focus {
    border: 1px solid var(--acent-color);
}
