.section.our-team {
    background: #f5f4f4;
}

.team-list {
    display: flex;
}

.team-list .img {
    margin-bottom: 30px;
}

.team-list .item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

     .name{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
    
.role{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 30px;

    color: var(--secondary-text-color);
}


.comand > h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    text-align: center;
    
    color: var(--primary-text-color);
}

.comand > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: var(--secondary-text-color);
}

.network-icon {
    fill: rgba(175, 177, 184, 1);
    width: 20px;
    height: 20px;
}

.network-list {
    display: flex;
    justify-content: space-between;
    margin: 16px 32px 30px 32px;
}

.network-list a:hover,
.network-list a:focus {
    background-color: var(--accent-color--);
    border-radius: 50%;
}

.network-list a:hover .network-icon,
.network-list a:focus .network-icon {
    fill: var(--background-color--);
}