:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --logo-color: #000000;
    --acent-color: #2196F3;
    --background-color: #ffffff;
    --hero-background: #2F303A;
}

// $primaryTextColor: #212121;
// $secondaryTextColor: #757575;
// $logoColor: #000000;
// $acentColor: #2196F3;
// $backgroundcolor: #ffffff;
// $heroBackground: #2F303A;